@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  .spinner_P7sC {
    transform-origin: center;
    animation: spinner_svv2 .75s infinite linear
  }

  @keyframes spinner_svv2 {
    100% {
      transform: rotate(360deg)
    }
  }

  :root {
    --background: #fff;
    --foreground: #212121;
  }

  :root[class='dark'] {
    --foreground: #fff;
    --background: #121213;
  }

  body,
  #root {
    @apply min-h-[100vh] w-full bg-primary-background text-primary-foreground
  }
}

@layer utilities {
  .center {
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}